.wrapper {
    margin: 30px 30px 20px 30px !important;
}

.mainColumn {
    float: left;
    width: 100%;
    height: 95%;
    background-color: beige;
}

.sideColumn {
    float: right;
    width: 200px;
    height: 95%;
    margin-right: -200px;
    background-color: burlywood;
}

.clear {
    clear: both;
}

.border {
    border-color: #000000;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row-top-margin {
    margin-top: 15px;
}

.form-group-right-padding {
    padding-right: 20px;
}