body {
    background-color: #EEEEEE;
}

.wrapper {
    margin: 30px 30px 20px 30px !important;
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    display:block;
    margin:auto;
}

.mainColumn {
    float: left;
    width: 100%;
    height: 95%;
    background-color: beige;
}

.sideColumn {
    float: right;
    width: 200px;
    height: 95%;
    margin-right: -200px;
    background-color: burlywood;
}

.clear {
    clear: both;
}

.border {
    border-color: #000000;
    border-radius: 1px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row-top-margin {
    margin-top: 15px;
}

.form-group-right-padding {
    padding-right: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}